# Competitive Programming Helper files
.cph/
**/.cph/
*.cph

# VS Code directories and files
.vscode/
**/.vscode/

# Keeping specific VS Code config files
!**/.vscode/settings.json
!**/.vscode/tasks.json
!**/.vscode/launch.json
!**/.vscode/extensions.json

# VS Code workspace files
*.code-workspace