# Competitive Programming Helper (CPH) files
*.cph
.cph/
/.cph
# VS Code files and folders
/.vscode
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace